.tecnologias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .tecnologias__text{
        width: 100%;
        padding-left: 14px;
        font-size: 34px;
        margin-bottom: 14px;
        p{
            color: $secondary-color;
        }
    }
    .tecnologias__cont{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        .tecnologias__cont-item{
            position: relative;
            .tecnologias__img{
                width: 140px;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                transition: .5s;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.2);
                    -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
                }
            }
            
        }
        .infoTec{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            left: 107px;
            top: 245px;
            padding: 14px;
            font-size: 22px;
            font-weight: 700;
            width: 520px;
            opacity: 0;
            transition: 0.2s;
            border-left: 1px solid $secondary-color;            
            &.ver{
                opacity: 1;
            }
            span{
                color: $secondary-color;
            }
        }        
    }
}
